<template name="home">
  <body>
    <!-- Header -->
    <header id="header">
      <h1><a href="/">Ambula</a></h1>
      <nav id="nav">
        <ul>
          <li><p style="margin-right: 30px">Hi, John Smith!</p></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="inner" style="margin-top:70px">
        <br /><br /><br />
        <h2>Upload Insurance-Issued Medical Document</h2>
        <ul class="actions">
          <li><a href="#" class="button big special" id="attachment">Upload Forms</a></li>
        </ul>
        <p class="footnote" style="margin-top:-30px">Not John Smith? <a href="#">Sign Out</a></p>
      </div>
      <div style="margin-top:70px; width: 70%; margin-left:auto; margin-right:auto"><p>Are you hurt and unable to get out of bed? We can custom parse your medical documents in XML form for you and have your prescriptions and necessities delivered to you in an instant. Simply click the button to select your medical document. All information is encrypted and secured because being stored.</p></div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="copyright container" style="margin-top: -70px; padding-bottom: -150px">
        <p>&copy; Dan Yu and Carolina Zheng. All rights reserved.</p>
        <ul class="menu">
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </footer>
  </body>
</template>